<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Techarch">
	
	<test name="Login">
		<classes>
		
		<class name="com.training.testcases.LoginTest"/>
		<class name="com.training.testcases.CaseOneTest"/>
		<class name="com.training.testcases.CaseTwoTest"/>
		
	</classes>
	</test>
	
	
	
</suite>
